html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
}
body {
	background-color: LightGray;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
	display: block;
}
div{
}
.top-navigation{
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;
}
.top-navigation > .content{
	height: 70px;
}
.top-navigation .links{
	float: right;
	color: #838994;
	font-size: 16px;
	margin-top: 1.7rem;
	letter-spacing: 0.03em;
}
.top-navigation .links .active{
	color: #4c5058;
	font-weight:500px;
	
}
.top-navigation .links li{
	display: inline-block;
	margin-left: 25px;
} 
.top-navigation .links li:hover{
	transition: color 0.5s ease;
	color: #333333;
	cursor: pointer;
}
.content{
	padding: 0 15px;
	margin: 0 auto;
	width: 970px;
}
.introduction{
	background-image: url('../Images/first-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed center;
	height: 45.938rem;
	overflow: auto;
}
.introduction h1, .introduction h3{
	color: white;
	text-align: center;
	font-weight: 300;
}
.introduction h1{
	font-size: 3.125rem;
	margin-top: 17.5rem;
	margin-bottom: 0;
}
.introduction h3{
	margin-top: 1.25rem;
	font-size: 1.563rem;
	margin-bottom: 0;
}
button{
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
}
.buttons button{
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	color: white;
	font-size: 1.125rem;	
}
button:hover{
	background-color: #d9400e;
	cursor: pointer;
	border-color: #cf3d0e;
}
.introduction .buttons{
	color: white;
	text-align: center;
	margin-top: 1.563rem;
}

