html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
}
body {
	background-color: LightGray;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
	display: block;
}
div{
	
}
.top-navigation{
	background-color: #fff;
}
.top-navigation > .content{
	width: 970px;
	height: 70px;
	margin: 0 auto;
}
.top-navigation .links{
	float: right;
	color: #838994;
	font-size: 16px;
	margin-top: 1.7rem;
	letter-spacing: 0.03em;
}
.top-navigation .links .active{
	color: #4c5058;
	font-weight:500px;
	
}
.top-navigation .links li{
	display: inline-block;
	margin-left: 25px;
} 
.top-navigation .links li:hover{
	transition: color 0.5s ease;
	color: #333333;
	cursor: pointer;
}
.content{
	padding: 0 15px;
	margin: 0 auto;
	min-width: 37.5rem;
}
.introduction{
	background-image: url(http://thinkful-ed.github.io/karma-clone/img/first-background.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}
.introduction .h1, .introduction .h3{
	color: white;
	text-align: center;
	font-weight: 300px;
}
.introduction .h1{
	font-size: 17.5rem;
	margin-top: 17.5rem;  
}
